<!DOCTYPE HTML>
<html>

<head>
    <title>Spark Your Mind</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="/public/css/main.css" />
    <noscript>
        <link rel="stylesheet" href="/public/css/noscript.css" />
    </noscript>
    <link rel="stylesheet" href="/public/css/style.css" />
</head>

<body class="is-preload">
    <!-- Wrapper -->
    <div id="wrapper">

        <!-- Header -->
        <header id="header" style="padding-top: 20px;">
            <div class="inner">
                <!-- Logo -->
                <a href="/" class="logo">
                    <span class="symbol"><img src="/public/images/logo.svg" alt="" /></span>
                    <span class="title">Spark Your Mind</span>
                </a>
            </div>
        </header>

        <!-- Main -->
        <div id="main">
            <div class="inner">
                <header>
                    <h1>Welcome to the Trivia .</h1>
                </header>
            </div>

            <section style="padding-top: 20px;">
                <form method="POST" action="/addQuestion">
                    <div class="row gtr-uniform">
                        <div class="col-5"></div>
                        <div class="col-2">
                            <textarea name="tag" id="tag" placeholder="TAG" rows="6" required></textarea>
                        </div>
                        <div class="col-5"></div>
                        <div class="col-2"></div>
                        <div class="col-8">
                            <textarea name="question" id="question" placeholder="Enter your Question" rows="6"
                                required></textarea>
                        </div>
                        <div class="col-2"></div>

                        <div class="col-2"></div>
                        <div class="col-4">
                            <textarea name="optionA" id="optionA" placeholder="Correct Option Here" rows="6" required></textarea>
                        </div>
                        <div class="col-4">
                            <textarea name="optionB" id="optionB" placeholder="Option B" rows="6" required></textarea>
                        </div>
                        <div class="col-2"></div>

                        <div class="col-2"></div>
                        <div class="col-4">
                            <textarea name="optionc" id="optionC" placeholder="Option C" rows="6" required></textarea>
                        </div>
                        <div class="col-4">
                            <textarea name="optionD" id="optionD" placeholder="Option D" rows="6" required></textarea>
                        </div>
                        <div class="col-2"></div>

                        <div class="col-5"></div>
                        <div>
                            <ul class="actions">
                                <li><input type="submit" value="Add question" class="primary" /></li>
                                <li><input type="reset" value="Reset" /></li>
                            </ul>
                        </div>
                    </div>
                </form>
            </section>
        </div>
    </div>

    <!-- Scripts -->
    <script src="/public/js/jquery.min.js"></script>
    <script src="/public/js/browser.min.js"></script>
    <script src="/public/js/breakpoints.min.js"></script>
    <script src="/public/js/util.js"></script>
    <script src="/public/js/main.js"></script>
    <script>
        $(document).ready(function () {
            $('#demo-category').click(function () {
                let optionA = $('#optionA').val();
                let optionB = $('#optionB').val();
                let optionC = $('#optionC').val();
                let optionD = $('#optionD').val();

                $('select').append('<option value="1">'+ optionA +'</option>');
                $('select').append('<option value="1">'+ optionB +'</option>');
                $('select').append('<option value="1">'+ optionC +'</option>');
                $('select').append('<option value="1">'+ optionD +'</option>');
            })
        })
    </script>

</body>

</html>