<!DOCTYPE HTML>
<html>

<head>
    <title>Spark Your Mind</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="/public/css/main.css" />
    <noscript>
        <link rel="stylesheet" href="/public/css/noscript.css" />
    </noscript>
    <link rel="stylesheet" href="/public/css/style.css" />
</head>

<body class="is-preload">
    <!-- Wrapper -->
    <div id="wrapper">

        <!-- Header -->
        <header id="header" style="padding-top: 20px;">
            <div class="inner">
                <!-- Logo -->
                <a href="/" class="logo">
                    <span class="symbol"><img src="/public/images/logo.svg" alt="" /></span>
                    <span class="title">Spark Your Mind</span>
                </a>
            </div>
        </header>

        <!-- Main -->
        <div id="main">
            <div class="inner">
                <header>
                    <h1>Welcome to the Trivia.</h1>
                </header>
            </div>

            <section style="padding-top: 20px;">
                <form method="POST" action="/addQ">
                    <div class="row gtr-uniform">
                        <div class="col-2"></div>
                        <div class="col-8">
                            <textarea name="question" placeholder="Question"
                                rows="6" required></textarea>
                        </div>
                        <div class="col-2"></div>

                        <div class="col-2"></div>
                        <div class="col-8">
                            <textarea name="answer" placeholder="Answer"
                                rows="6" required></textarea>
                        </div>
                        <div class="col-2"></div>
                        <div class="col-2"></div>
                        <div class="newC">
                            <ul class="actions">
                                <li><input type="submit" value="Save Question" class="primary" /></li>
                                <li><input type="reset" value="Reset" /></li>
                            </ul>
                        </div>
                        <div class="col-4">
                            <select name="tag" id="demo-category" required>
                                <option value="">-- TAG REQUIRED--</option>
                                <option value="1">DC</option>
                                <option value="1">Marvel</option>
                                <option value="1">Harry Potter</option>
                                <option value="1">Friends</option>
                            </select>
                        </div>
                    </div>
                </form>
            </section>
        </div>
    </div>

    <!-- Scripts -->
    <script src="/public/js/jquery.min.js"></script>
    <script src="/public/js/browser.min.js"></script>
    <script src="/public/js/breakpoints.min.js"></script>
    <script src="/public/js/util.js"></script>
    <script src="/public/js/main.js"></script>
</body>

</html>