body {
    background-color: rgb(2, 68, 68);
}

h1 {
    color: white;
}

p {
    color: white;
    font-size: 25px;
}

.inner {
    margin-top: 0px;
    text-align: center;
}

.title {
    color: rgb(107, 121, 245)
}

.form-filter{
    text-align: center;
    background-color: rgb(2, 68, 68);
    color: white;
}
input{
    text-align: center;
    font-size: 25px;
    font-weight: 700;
    color: white;
}
textarea{
    text-align: center;
    font-size: 25px;
    font-weight: 700;
    color: white;
}


select{
    text-align: center;
    font-size: 25px;
    font-weight: 700;
    color: white;
}
li{
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    color: black;
    text-align: center;
}
ul{
    text-align: center;
}

.forC{
    text-align: center;
}

.newC{
    justify-content: center;
    text-align: center;
    align-self: center;
    align-content: center;
}

span {
    content: "\1F493";
}

a{
    text-decoration: none;
}

.fa-upload {
    margin-bottom: 35px;
}